*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 10px 20px ;
    background-color: lightcyan;
}
nav{
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
figure,a,ul{
    background-color: lightgoldenrodyellow;
    border: 1px dashed black;
}
 .list{
    display: flex;
    gap:10px ;
 }
li{
    list-style-type: none;
}
.cont{
    background-color: pink;
    width: 60%;
    margin: 50px auto;
    text-align: center;
}
.first{
    width: 80%;
    margin:0 auto ;
    display: flex;
}
section{
    padding: 20px;
}
section figure{
    background-color: lightgoldenrodyellow;
    flex-basis: 70%;
}
.text{
    background-color: lightgreen;
    flex-basis: 30%;
}
.one:nth-child(even){
    background-color:lightgray;
}
.one:nth-child(even)figure{
    order: 1;
}
.two{
    width: 80%;
    margin:0 auto ;
    text-align: center;

}
footer{
    background-color: dimgray;
}
.tre{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.tre>div{
    flex-grow: 1;
}
.end{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    height: 20px;
} 
